@import "tailwindcss";

@theme {

    --font-arial: Arial, Helvetica, sans-serif;

    --font-trebuchet: "Trebuchet MS", Helvetica, sans-serif;

    --font-impact: Impact, "Arial Black", sans-serif;

    --font-helvetica: Helvetica, Arial, sans-serif;

    --font-times: "Times New Roman", Times, serif;

    --font-georgia: Georgia, Cambria, serif;

    --font-palatino: "Palatino Linotype", Palatino, serif;

    --font-garamond: Garamond, Baskerville, serif;


    --text-fluid-title: clamp(2.1rem, 5vw, 3rem);
    --text-fluid-subtitle: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
    --text-fluid-text: clamp(1rem, 0.9rem + 0.7vw, 1.5rem);
    --text-fluid-buttons: clamp(1rem, 1rem + 1vw, 1.8rem);
    --text-fluid-Footer: clamp(0.8rem, 0.5rem + 1vw, 1rem);



    --color-Theme: #121212;
    --color-LiteTheme: #171717;
    --color-botton-theme: #2563EB;







}