@import "tailwindcss";

@theme {

    --font-arial: Arial, Helvetica, sans-serif;

    --font-trebuchet: "Trebuchet MS", Helvetica, sans-serif;

    --font-impact: Impact, "Arial Black", sans-serif;

    --font-helvetica: Helvetica, Arial, sans-serif;

    --font-times: "Times New Roman", Times, serif;

    --font-georgia: Georgia, Cambria, serif;

    --font-palatino: "Palatino Linotype", Palatino, serif;

    --font-garamond: Garamond, Baskerville, serif;


    --text-fluid-title: clamp(2rem, 5vw, 3rem);



    --color-Theme: #121212;
    --color-botton-theme: #2563EB;







}